{% extends 'squelette.html' %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>Page Header
                <small>Optional description</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>
        <section class="content container-fluid">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Area Chart</h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas id="chart" style="height: 300px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };

        let chartData = {
            labels: ['Lille', 'Strasbourg', 'Paris', 'Bruxelles'],
            datasets: [{
                type: 'line',
                label: 'Moyenne',
                borderColor: window.chartColors.blue,
                borderWidth: 2,
                fill: false,
                data: [7.3, 7.2, 6.5, 6.6]
            }, {
                type: 'bar',
                label: 'Min',
                backgroundColor: window.chartColors.red,
                data: [4.2, 4.6, 3.9, 3],
            }, {
                type: 'bar',
                label: 'Max',
                backgroundColor: window.chartColors.green,
                data: [17, 16, 14, 15]
            }]
        };
        window.onload = function() {
            let ctx = document.getElementById('chart').getContext('2d');
            window.myMixedChart = new Chart(ctx, {
                type: 'bar',
                data: chartData,
                options: {
                    scales: {
                        xAxes: [{stacked: true}],
                        yAxes: [{
                            ticks: {
        	                    beginAtZero: true,
                                min: 0,
                                max: 24
                            },
                        }]
                    },
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: true
                    }
                }
            });
        }
    </script>
{% endblock %}