{% block footer %}
    <footer class="main-footer">
        <strong>Copyright &copy; 2018 <a target="_blank" href="http://epitech.eu">Epitech</a>.</strong> All rights reserved.
    </footer>
{% endblock %}