{% block header %}
    {% load static %}
    {% load filter %}
    <header class="main-header">
        <a href="/" class="logo">
            <span class="logo-mini"><b>S</b>EPI</span>
            <span class="logo-lg"><b>Sauron</b>EPI</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% with req.user.email|split:'@' as user %}
                            <img src="https://cdn.local.epitech.eu/userprofil/profilview/{{ user.0 }}.jpg"
                                 onerror="this.src='https://intra.epitech.eu/static3e27048325fd4a6eb53dc2ba32e33398685cf43c/img/nopicture-commentview.png'"
                                 class="user-image" alt="User Image">
                            {% endwith %}
                            <span class="hidden-xs">{{ req.user.first_name | title }} {{ req.user.last_name | title }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-footer">
                                <a style="width: 100%" href="/logout" class="btn btn-default btn-flat">Sign out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}