{% extends 'squelette.html' %}
{% block content %}
    <div class="content-wrapper">
    <section class="content">
      <div class="error-page" style="width: 800px; margin-top: 30%">
        <h3 class="headline text-red" style="font-size: 50px"><i class="fa fa-warning text-red"></i> Maintenance du service en cours.</h3>
      </div>
    </section>
  </div>
{% endblock %}