{% extends 'squelette.html' %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>Alertes</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Alertes</li>
            </ol>
        </section>
        <section class="content container-fluid">
            <div class="col-lg-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Filtres</h3>
                    </div>
                    <div class="box-body" style="height: 265px">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Villes</label>
                                    <select class="form-control select2" multiple="multiple" id="city_filter" data-placeholder="Filtrer par villes" style="width: 100%;">
                                        {% for city in cities %}
                                            <option value="{{ city.code }}">{{ city.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Modules</label>
                                    <select class="form-control select2" multiple="multiple" id="module_filter" data-placeholder="Filtrer par modules" style="width: 100%;">
                                        {% for module in modules %}
                                            <option value="{{ module.code_module }}">{{ module.code_module }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 col-md-offset-0">
                                <div class="checkbox">
                                  <label>
                                      <input type="checkbox" id="bachelor_filter" checked="checked"> Bachelor uniquement
                                  </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button class="form-control btn-flat btn-primary" id="filter">Filtrer</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="box box-primary" id="city_stat">
                    <div class="overlay">
                      <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">Nombre d'alertes <small>par ville</small></h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas id="chart" style="height: 300px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="box box-primary" id="stat_students">
                    <div class="overlay">
                      <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">Modules <small>par ville</small></h3>
                        <div class="box-tools pull-right">
                            <button type="button" id="exportCSV" class="btn btn-flat btn-primary btn-sm">Export to csv</button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table id="student_roadblocks" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                              <th style="width: 10%">Code Module</th>
                              <th>Titre</th>
                              <th style="width: 10%">Instance</th>
                              <th style="width: 15%">Date de fin</th>
                              <th style="width: 15%">Nombre d'inscrits</th>
                              <th style="width: 15%">Étudiants non validés</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Code Module</th>
                                <th>Titre</th>
                                <th>Instance</th>
                                <th>Date de fin</th>
                                <th>Nombre d'inscrits</th>
                                <th>Étudiants non validés</th>
                            </tr>
                            </tfoot>
                          </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        let dataTable;
        window.exportCSV = function() {
            let csv = dataTable.buttons.exportData().header.join(';');
            dataTable.buttons.exportData().body.forEach((elm) => {
                csv += "\n" + elm.join(';')
            });
            let blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
            let link = document.createElement("a");
            let url = URL.createObjectURL(blob);
            link.setAttribute("href", url);
            function formattedDate(d = new Date) {
              let month = String(d.getMonth() + 1);
              let day = String(d.getDate());
              const year = String(d.getFullYear());

              if (month.length < 2) month = '0' + month;
              if (day.length < 2) day = '0' + day;

              return `${day}/${month}/${year}`;
            }
            if (window.filters && window.filters['modules'])
                link.setAttribute("download", "module_alerts_" + window.filters['modules'].join('_') + "_" + formattedDate() + ".csv");
            else
                link.setAttribute("download", "module_alerts_" + formattedDate() + ".csv");
            link.style.visibility = 'hidden';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link)
        };
        $('#exportCSV').on('click', window.exportCSV);
		window.onload = function() {
		    $('.select2').select2();
		    $.fn.dataTable.ext.order['date_sort'] = function (settings, col) {
		        return this.api().column(col, {order: 'index'}).nodes().map(function (td, i) {
                    let date = $(td).html().split('-');
                    return date[2] + date[1] + date[0];
                });
            };
		    dataTable = $('#student_roadblocks').DataTable({
                'buttons': [ 'csv' ],
                'lengthMenu': [
                    [10, 25, 50, 100, -1],
                    [10, 25, 50, 100, "All"]
                ],
                'paging': true,
                'searching': true,
                'ordering': true,
                'order': [[ 0, "desc" ]],
                'search': {
                    regex: true
                },
                'columns': [
                    null,
                    null,
                    null,
                    { "orderDataType": "date_sort", "type": "numeric" },
                    null,
                    null
                ]
            });
		    dataTable.column(2).search("(-[0-6]-)", true, false).draw();
		    $('#filter').on('click', function () {
		        let cities = $('#city_filter').val();
		        cities.forEach((elm, idx) => cities[idx] = elm.split('/')[1]);
		        let modules = $('#module_filter').val();
		        let instance_filter = cities.join('|');
		        if ($('#bachelor_filter').is(':checked'))
		            instance_filter = "(" + instance_filter + ")(-[0-6]-)";
                dataTable.column(2).search(instance_filter, true, false).draw();
		        dataTable.column(0).search(modules.join('|'), true, false).draw();
		        window.filters = {'modules': modules, 'cities': cities}
            });
		    $.getJSON('/api/get_module_alerts').done((data) => {
                window.stats = {'labels': [], 'alerts': [], 'normal': []};
                for (let key in data['alerts']) {
                    window.stats['labels'].push(key);
                    window.stats['alerts'].push(data['alerts'][key]);
                    window.stats['normal'].push(data['normal'][key]);
                }
                genGraph();
                $('#city_stat .overlay').hide();
            });
		    function genGraph() {
                let ctx = document.getElementById('chart').getContext('2d');
                let barChartData = {
                    labels: window.stats['labels'],
                    datasets: [{
                        label: 'Nombre d\'alertes',
                        backgroundColor: "rgb(231, 76, 60)",
                        data: window.stats['alerts']
                    }, {
                        label: 'Nombre de module validé',
                        backgroundColor: "rgb(26, 188, 156)",
                        data: window.stats['normal']
                    }]
                };
                if (window.myBar)
                    window.myBar.destroy();
                window.myBar = new Chart(ctx, {
                    type: 'bar',
                    data: barChartData,
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            xAxes: [{
                                stacked: true,
                            }],
                            yAxes: [{
                                stacked: true,
                                ticks: {
                                    min: 0,
                                    stepSize: 20,
                                    max: 120,
                                    beginAtZeo: true,
                                }
                            }]
                        }
                    }
                });
            }
		    $('#stat_students .overlay').show();

            async function genTable(students_idx) {
                let limit = 100;
                let nb_students = 0;
                let now = Date.now();
                $.getJSON('/api/grade_history', {'alert_only': true, 'year': 2018, 'offset': students_idx, 'limit': limit}).done((data) => {
                    data['results'].forEach((alerte) => {
                        let end_date = new Date(alerte['instance']['end']);
                        if (end_date.getTime() <= now && alerte["NA"] !== 0) {
                            let registered = alerte['A'] + alerte['B'] + alerte['C'] + alerte['D'] + alerte['E'] + alerte['NA'];
                            end_date = ("0" + end_date.getDate()).slice(-2) + "-" + ("0" + (end_date.getMonth() + 1)).slice(-2) + "-" + end_date.getFullYear();
                            dataTable.row.add([alerte['module']['code_module'], alerte['module']['name'], alerte['instance']['code_instance'], end_date, registered, alerte['NA']])
                        }
                    });
                    dataTable.draw();
                    $('#stat_students .overlay').hide();
                    if (data['next'])
                        genTable(students_idx + limit);
                });
            }
            window.setTimeout(() => genTable(0), 1000);
		}
    </script>
{% endblock %}
