{% extends 'squelette.html' %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>Validations des modules</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Validations des modules</li>
            </ol>
        </section>
        <section class="content container-fluid">
            <div class="col-lg-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Filtres</h3>
                    </div>
                    <div class="box-body" style="height: 265px">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Module</label>
                                    <select class="form-control select2" id="module_filter" data-placeholder="Filtrer par modules" style="width: 100%;">
                                        <option></option>
                                        {% for module in modules %}
                                            <option value="{{ module.code_module }}">{{ module.code_module }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Instance</label>
                                    <select class="form-control select2" multiple="multiple" id="instance_filter" data-placeholder="Filtrer par instance" style="width: 100%;"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button class="form-control btn-flat btn-primary" id="filter">Filtrer</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="box box-primary" id="city_stat">
                    <div class="overlay hidden">
                      <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">Grades <small>par ville</small></h3>
                        <div class="box-tools pull-right">
                            <select class="form-control select2" id="city_grade_year" style="min-width: 200%;"></select>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas id="chart" style="height: 300px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="box box-primary" id="year_stat">
                    <div class="overlay">
                      <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">Grades <small>par années</small></h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas id="chart_year" style="height: 300px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
		window.onload = function() {
		    $('.select2').select2();
		    $('#module_filter').on('change', function() {
		        let module = $('#module_filter').val();
		        $.getJSON('/api/instances', {'module': module}).done((data) => {
                    $('#instance_filter').html('');
		            data.forEach(function(elm) {
		                let option = new Option(elm['code_instance'], elm['code_instance'], false, false);
		                $('#instance_filter').append(option).trigger('change');
                    });
                });
            });
		    let on_filtering = false;
		    $('#filter').on('click', function () {
		        on_filtering = true;
		        let module = $('#module_filter').val();
		        let instances = $('#instance_filter').val();
		        if (module === "")
		            return null;
                let date = new Date();
                let year = date.getFullYear();
                if (date.getMonth() <= 8)
                    year --;
                $.getJSON('/api/get_module_stats/' + year + '/' + module, {'instances': instances, 'percent': 1}).done((data) => {
                    window.last = {'module': module, 'year': year, 'instances': instances};
                    window.stats = data;
                    genGraph();
                    $.getJSON('/api/grade_history', {'module': window.last['module'], 'format': 'json'}).done((data) => {
                        let years = [];
                        let select = $('#city_grade_year');
                        data.forEach((elm) => {
                           if (years.indexOf(elm['year']) === -1)
                               years.push(elm['year']);
                        });
                        select.empty();
                        years = years.sort().reverse();
                        years.forEach((elm) => {
                            select.append(new Option(elm, elm, false, false)).trigger('change');
                        });
                        select.val(years[0]);
		                on_filtering = false;
                    });
		            $('#city_stat .overlay').hide();
                });
                get_history_grade(module);
            });
		    $('#city_grade_year').on('change', () => {
		        if (on_filtering)
		            return;
		        let year = $('#city_grade_year').val();
		        $.getJSON('/api/get_module_stats/' + year + '/' + window.last['module'], {'instances': window.last['instances'], 'percent': 1}).done((data) => {
                    window.last['year'] = year;
                    window.stats = data;
                    genGraph();
                });
            });
		    function get_history_grade(module) {
		        if (!module) {
                    window.grade_history = {};
                    genHistory();
                    $('#year_stat .overlay').hide();
                    return;
                }
		        $.getJSON('/api/grade_history', {'module': module}).done(data => {
                    let year = {};
                    let grades = ['A', 'B', 'C', 'D', 'E', 'NA'];
                    data.forEach(elm => {
                        if (!(elm['year'] in year))
                            year[elm['year']] = {'A': 0, 'B': 0, 'C': 0, 'D': 0, 'E': 0, 'NA': 0, 'total': 0};
                        for (let idx in grades) {
                            year[elm['year']][grades[idx]] += elm[grades[idx]];
                            year[elm['year']]['total'] += elm[grades[idx]];
                        }
                    });
                    let datas = {'label': Object.keys(year), 'A': [], 'B': [], 'C': [], 'D': [], 'E': [], 'NA': []};
                    let total = [];
                    for (let idx in year) {
                        let grades = {'A': 0, 'B': 0, 'C': 0, 'D': 0, 'E': 0, 'NA': 0};
                        let sum = 0;
                        for (let grade in grades) {
                            grades[grade] += year[idx][grade];
                            sum += year[idx][grade];
                        }
                        total.push(sum);
                        for (let grade in grades)
                            datas[grade].push(grades[grade]);
                    }
                    for (let grade in grades)
                            for (let year in datas[grades[grade]])
                                datas[grades[grade]][year] = Math.round(datas[grades[grade]][year] / total[year] * 10000) / 100;
                    window.grade_history = datas;
                    genHistory();
                    $('#year_stat .overlay').hide();
                });
            }
		    function genHistory() {
		        let ctxYear = document.getElementById('chart_year').getContext('2d');
		        let year = {};
		        let barChartYear = {
		            labels: window.grade_history['label'],
                    datasets: [{
                        label: '-',
                        backgroundColor: "rgb(189, 195, 199)",
                        data: window.grade_history['NA']
                    }, {
                        label: 'Echec',
                        backgroundColor: "rgb(231, 76, 60)",
                        data: window.grade_history['E']
                    }, {
                        label: 'D',
                        backgroundColor: "rgb(230, 126, 34)",
                        data: window.grade_history['D']
                    }, {
                        label: 'C',
                        backgroundColor: "rgb(241, 196, 15)",
                        data: window.grade_history['C']
                    }, {
                        label: 'B',
                        backgroundColor: "rgb(52, 152, 219)",
                        data: window.grade_history['B']
                    }, {
                        label: 'A',
                        backgroundColor: "rgb(26, 188, 156)",
                        data: window.grade_history['A']
                    }]
                };
                if (window.yearBar)
                    window.yearBar.destroy();
		        window.yearBar = new Chart(ctxYear, {
		            type: 'bar',
                    data: barChartYear,
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            xAxes: [{
                                stacked: true,
                            }],
                            yAxes: [{
                                stacked: true,
                                ticks: {
                                    min: 0,
                                    stepSize: 20,
                                    max: 120,
                                    beginAtZeo: true,
                                }
                            }]
                        }
                    }
                });
            }
		    function genGraph() {
                let ctx = document.getElementById('chart').getContext('2d');
                let barChartData = {
                    labels: window.stats['labels'],
                    datasets: [{
                        label: '-',
                        backgroundColor: "rgb(189, 195, 199)",
                        data: window.stats['-']
                    }, {
                        label: 'Echec',
                        backgroundColor: "rgb(231, 76, 60)",
                        data: window.stats['Echec']
                    }, {
                        label: 'D',
                        backgroundColor: "rgb(230, 126, 34)",
                        data: window.stats['D']
                    }, {
                        label: 'C',
                        backgroundColor: "rgb(241, 196, 15)",
                        data: window.stats['C']
                    }, {
                        label: 'B',
                        backgroundColor: "rgb(52, 152, 219)",
                        data: window.stats['B']
                    }, {
                        label: 'A',
                        backgroundColor: "rgb(26, 188, 156)",
                        data: window.stats['A']
                    }]
                };
                if (window.myBar)
                    window.myBar.destroy();
                window.myBar = new Chart(ctx, {
                    type: 'bar',
                    data: barChartData,
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            xAxes: [{
                                stacked: true,
                            }],
                            yAxes: [{
                                stacked: true,
                                ticks: {
                                    min: 0,
                                    stepSize: 20,
                                    max: 120,
                                    beginAtZeo: true,
                                }
                            }]
                        }
                    }
                });
                $('#chart').on('click', function() {
                    window.myBar.generateLegend();
                });
            }
            window.stats = {};
            genGraph();
            $('#city_stat .overlay').hide();
		    get_history_grade('');
		};
    </script>
{% endblock %}
