{% load tags %}
{% load filter %}
{% block sidebar %}
    <aside class="main-sidebar">
        <section class="sidebar">
        {% if req.path != "/maintenance" %}
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">Modules</li>
                <li {% if req.path == '/roadblock' %}class="active"{% endif %}><a href="/roadblock"><i class="fa fa-road"></i> <span>RoadBlock Tek3</span></a></li>
                <li {% if req.path == '/module_validations' %}class="active"{% endif %}><a href="/module_validations"><i class="fa fa-check"></i><span>Validation des modules</span></a></li>
                <li {% if req.path == '/module_alerts' %}class="active"{% endif %}><a href="/module_alerts"><i class="fa fa-warning"></i><span>Modules en alerte</span></a></li>
                <li class="header">Tepitech</li>
                <li {% if req.path == '/tepitech_alerts' %}class="active"{% endif %}><a href="/tepitech_alerts"><i class="fa fa-language"></i><span>Alertes Tepitech</span></a></li>
            </ul>
        {% endif %}
        </section>
    </aside>
{% endblock %}