{% extends 'squelette.html' %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>RoadBlock Tek3</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">RoadBlock Tek3</li>
            </ol>
        </section>
        <section class="content container-fluid">
            <div class="col-lg-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Filtres</h3>
                    </div>
                    <div class="box-body" style="height: 265px">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Villes</label>
                                    <select class="form-control select2" multiple="multiple" id="city_filter" data-placeholder="Filtrer par villes" style="width: 100%;">
                                        {% for city in cities %}
                                            <option value="{{ city.code }}">{{ city.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 col-md-offset-0">
                                <div class="checkbox">
                                  <label>
                                      <input type="checkbox" id="danger_filter"> Etudiants en danger uniquement
                                  </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button class="form-control btn-flat btn-primary" id="filter">Filtrer</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="box box-primary" id="city_stat">
                    <div class="overlay">
                      <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">Moyennes de credits obtenables <small>par ville</small></h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas id="chart" style="height: 300px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="box box-primary" id="stat_students">
                    <div class="overlay">
                      <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Crédits obtenables <small>par etudiant</small>
                            <button type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#modal-info"><i class="fa fa-question"></i></button>
                        </h3>
                        <div class="box-tools pull-right">
                            <button type="button" id="exportCSV" class="btn btn-flat btn-primary btn-sm">Export to csv</button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table id="student_roadblocks" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                              <th style="width: 2%"><span style="display: none;">Nombre d'alerte</span></th>
                              <th style="width: 40%">Login</th>
                              <th style="width: 15%">Ville</th>
                              <th style="width: 15%">Innovation (min: 15)</th>
                              <th style="width: 15%">Expertise (min: 15)</th>
                              <th style="width: 15%">Soft Skills (min: 5)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for student in students %}
                                <tr>
                                    <td>
                                        {% if student.innovation < 15 or student.expertise < 15 or student.softskills < 5 %}
                                            <span class="badge bg-red"><i class="fa fa-warning"></i></span>
                                        {% else %}
                                            <span class="badge bg-green"><i class="fa fa-check"></i></span>
                                        {% endif %}
                                    </td>
                                    <td>{{ student.student.login }}</td>
                                    <td><span style="display: none;">{{ student.student.promo.city.code }}</span>{{ student.student.promo.city.name }}</td>
                                    <td>{{ student.innovation }}</td>
                                    <td>{{ student.expertise }}</td>
                                    <td>{{ student.softskills }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th></th>
                                <th>Login</th>
                                <th>Ville</th>
                                <th>Innovation</th>
                                <th>Expertise</th>
                                <th>Soft Skills</th>
                            </tr>
                            </tfoot>
                          </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="modal fade" id="modal-info" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Information sur les roadblocks</h4>
                </div>
                <div class="modal-body">
                    <p>Les crédits obtenables correspondent à l'addition des crédits acquis et des credits en cours d'acquisition.</p>
                    <table class="table table-striped">
                        <tr>
                            <td>Innovation (min: 15)</td>
                            <td>Expertise (min: 15)</td>
                            <td>Soft Skills (min: 5)</td>
                        </tr>
                        {% for line in roadblocks_list %}
                        <tr>
                            <td>{{ line.innovation }}</td>
                            <td>{{ line.expertise }}</td>
                            <td>{{ line.softskills }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <script>
        let dataTable;
        window.exportCSV = function() {
            let csv = dataTable.buttons.exportData().header.join(';');
            dataTable.buttons.exportData().body.forEach((elm) => {
                csv += "\n" + elm.join(';')
            });
            let blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
            let link = document.createElement("a");
            let url = URL.createObjectURL(blob);
            link.setAttribute("href", url);
            function formattedDate(d = new Date) {
              let month = String(d.getMonth() + 1);
              let day = String(d.getDate());
              const year = String(d.getFullYear());

              if (month.length < 2) month = '0' + month;
              if (day.length < 2) day = '0' + day;

              return `${day}/${month}/${year}`;
            }
            link.setAttribute("download", "roadblock_tek3_" + formattedDate() + ".csv");
            link.style.visibility = 'hidden';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link)
        };
        $('#exportCSV').on('click', window.exportCSV);
		window.onload = function() {
		    $('.select2').select2();
		    dataTable = $('#student_roadblocks').DataTable({
                rowCallback: function (row, data, index) {
                    let value = {
                        'innovation': parseInt(data[3]),
                        'expertise': parseInt(data[4]),
                        'softskills': parseInt(data[5]),
                    };
                    $(row).find('td:eq(3)').css('color', (value['innovation'] < 15) ? 'red' : 'green');
                    $(row).find('td:eq(4)').css('color', (value['expertise'] < 15) ? 'red' : 'green');
                    $(row).find('td:eq(5)').css('color', (value['softskills'] < 5) ? 'red' : 'green');
                },
                'buttons': [ 'csv' ],
                'lengthMenu': [
                    [10, 25, 50, 100, -1],
                    [10, 25, 50, 100, "All"]
                ],
                'paging': true,
                'searching': true,
                'ordering': true,
                'order': [[ 2, "asc" ]],
                'search': {
                    regex: true
                },
                "aoColumns": [
                    { "sType": 'numeric' },
                    null,
                    null,
                    { "sType": 'numeric' },
                    { "sType": 'numeric' },
                    { "sType": 'numeric' },
                ]
            });
		    $('#filter').on('click', function () {
		        let values = $('#city_filter').val();
		        dataTable.column(2).search(values.join('|'), true, false).draw();
		        if ($('#danger_filter').is(':checked'))
		            dataTable.column(0).search("1|2|3", true, false).draw();
		        else
		            dataTable.column(0).search("", true, false).draw();
		        $('#city_stat .overlay').show();
		        params = {'cities': values};
		        if ($('#danger_filter').is(':checked'))
                    params['danger'] = $('#danger_filter').is(':checked');
                $.getJSON('/api/get_roadblock_stats', params).done((data) => {
                    window.stats = data;
                    genGraph();
		            $('#city_stat .overlay').hide();
                });
            });
		    function genGraph() {
                let ctx = document.getElementById('chart').getContext('2d');
                let barChartData = {
                    labels: window.stats['labels'],
                    datasets: [{
                        label: 'Expertise',
                        backgroundColor: "rgb(255, 99, 132)",
                        data: window.stats['hard']
                    }, {
                        label: 'Innovation',
                        backgroundColor: "rgb(54, 162, 235)",
                        data: window.stats['innov']
                    }, {
                        label: 'Soft Skills',
                        backgroundColor: "rgb(75, 192, 192)",
                        data: window.stats['soft']
                    }]
                };
                if (window.myBar)
                    window.myBar.destroy();
                window.myBar = new Chart(ctx, {
                    type: 'bar',
                    data: barChartData,
                    options: {
                        legendCallback: function(chart) {
                            //console.log(chart.legend.legendItems);
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            xAxes: [{
                                stacked: false,
                            }],
                            yAxes: [{
                                stacked: false,
                                ticks: {
                                    min: 0,
                                    beginAtZeo: true,
                                }
                            }]
                        }
                    }
                });
                $('#chart').on('click', function() {
                    window.myBar.generateLegend();
                });
            }
            $.getJSON('/api/get_roadblock_stats').done((data) => {
                window.stats = data;
                genGraph();
		        $('#city_stat .overlay').hide();
            });
		    $('#stat_students .overlay').show();


            async function genTable(students_idx) {
                let limit = 100;
                let nb_students = 0;
                $.getJSON('/api/students_roadblocks', {'offset': students_idx, 'limit': limit}).done((data) => {
                    data['results'].forEach((student) => {
                        let alert = {
                            'innovation': student['innovation'] < 15,
                            'expertise': student['expertise'] < 15,
                            'softskills': student['softskills'] < 5
                        };
                        let badge = "<span class='badge bg-green'>0 <span style='display: none'>0</span> <i class='fa fa-check'></i></span>";
                        if (alert['innovation'] || alert['expertise'] || alert['softskills']) {
                            let nb_alert = alert['innovation'] + alert['expertise'] + alert['softskills'];
                            badge = "<span class='badge bg-red'>" + nb_alert + " <i class='fa fa-warning'></i></span>";
                        }
                        let city = student['student']['promo']['city']['code'];
                        dataTable.row.add([ badge, student['student']['login'],
                            city, student['innovation'],
                            student['expertise'], student['softskills']])
                    });
                    dataTable.draw();
                    $('#stat_students .overlay').hide();
                    if (data['next'])
                        genTable(students_idx + limit);
                });
            }
            window.setTimeout(() => genTable(0), 1000);
		};
    </script>
{% endblock %}
