{% extends 'squelette.html' %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>Alertes sur le Tepitech</h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li>Tepitech</li>
                <li class="active">Alertes</li>
            </ol>
        </section>
        <section class="content container-fluid">
            <div class="col-lg-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Filtres</h3>
                    </div>
                    <div class="box-body" style="height: 265px">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Villes</label>
                                    <select class="form-control select2" multiple="multiple" id="city_filter" data-placeholder="Filtrer par villes" style="width: 100%;">
                                        {% for city in cities %}
                                            <option value="{{ city.code }}">{{ city.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Cursus</label>
                                    <select class="form-control select2" multiple="multiple" id="cursus_filter" data-placeholder="Filtrer par cursus" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Promotion</label>
                                    <select class="form-control select2" multiple="multiple" id="promo_filter" data-placeholder="Filtrer par promotion" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 col-md-offset-0">
                                <div class="checkbox">
                                  <label>
                                      <input type="checkbox" id="danger_filter"> Etudiants en danger uniquement
                                  </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button class="form-control btn-flat btn-primary" id="filter">Filtrer</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="box box-primary" id="city_stat">
                    <div class="overlay">
                      <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">Résultat des Tepitech <small>par ville</small></h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas id="chart" style="height: 300px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="box box-primary" id="stat_students">
                    <div class="overlay">
                      <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">Modules <small>par ville</small></h3>
                        <div class="box-tools pull-right">
                            <button type="button" id="exportCSV" class="btn btn-flat btn-primary btn-sm">Export to csv</button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table id="tepitech_alert" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                              <th style="width: 2%"><span style="display: none;">Nombre d'alerte</span></th>
                              <th style="width: 25%">Login</th>
                              <th style="width: 15%">Promotion</th>
                              <th style="width: 15%">Cursus</th>
                              <th style="width: 15%">Ville</th>
                              <th style="width: 10%">Nombre de tepitech</th>
                              <th style="width: 10%">Score</th>
                              <th style="width: 10%">Points manquants</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th></th>
                                <th>Login</th>
                                <th>Promotion</th>
                                <th>Cursus</th>
                                <th>Ville</th>
                                <th>Nombre de tepitech</th>
                                <th>Score</th>
                                <th>Points manquants</th>
                            </tr>
                            </tfoot>
                          </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        let dataTable;
        window.exportCSV = function() {
            let csv = dataTable.buttons.exportData().header.join(';');
            dataTable.buttons.exportData().body.forEach((elm) => {
                elm[6] = elm[6].split('/')[0].trim();
                csv += "\n" + elm.join(';');
            });
            let blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
            let link = document.createElement("a");
            let url = URL.createObjectURL(blob);
            link.setAttribute("href", url);
            function formattedDate(d = new Date) {
              let month = String(d.getMonth() + 1);
              let day = String(d.getDate());
              const year = String(d.getFullYear());

              if (month.length < 2) month = '0' + month;
              if (day.length < 2) day = '0' + day;

              return `${day}/${month}/${year}`;
            }
            link.setAttribute("download", "tepitech_alerts_" + formattedDate() + ".csv");
            link.style.visibility = 'hidden';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link)
        };
        $('#exportCSV').on('click', window.exportCSV);
		window.onload = function() {
		    $('.select2').select2();
		    dataTable = $('#tepitech_alert').DataTable({
                rowCallback: function (row, data, index) {
                    let colors = {
                        0: '#1ABC9C',
                        50: '#F1C40F',
                        100: '#E67E22',
                        150: '#E74C3C',
                        990: 'black'
                    };
                    let scores = $(row).find('td:eq(6)').html().split(' / ');
                    let diff = parseInt(scores[0] - scores[1]);
                    let score_color = "grey";
                    if (diff >= 0) {
                        score_color = colors["0"];
                    } else {
                        for (let color in colors) {
                            if (Math.abs(diff) < parseInt(color)) {
                                score_color = colors[color];
                                break;
                            }
                            score_color = colors[0];
                        }
                    }
                    $(row).find('td:eq(6)').css('color', score_color);
                    $(row).find('td:eq(7)').css('color', score_color);
                },
                'buttons': [ 'csv' ],
                'lengthMenu': [
                    [10, 25, 50, 100, -1],
                    [10, 25, 50, 100, "All"]
                ],
                'paging': true,
                'searching': true,
                'ordering': true,
                'order': [[ 4, "asc" ]],
                'search': {
                    regex: true
                },
            });
		    $('#filter').on('click', function () {
		        let cities = $('#city_filter').val();
		        cities.forEach((elm, idx) => cities[idx] = elm.split('/')[1]);
		        dataTable.column(4).search(cities.join('|'), true, false).draw();
		        let cursus = $('#cursus_filter').val();
		        dataTable.column(3).search(cursus.join('|'), true, false).draw();
		        let promo = $('#promo_filter').val();
		        dataTable.column(2).search(promo.join('|'), true, false).draw();
		        if ($('#danger_filter').is(':checked'))
		            dataTable.column(0).search("1|2", true, false).draw();
		        else
		            dataTable.column(0).search("", true, false).draw();
		        window.graphData();
            });

		    window.genGraph = function() {
                let ctx = document.getElementById('chart').getContext('2d');
                let barChartData = {
                    labels: window.stats['labels'],
                    datasets: [{
                        label: 'Aucune note',
                        backgroundColor: "rgb(189, 195, 199)",
                        data: window.stats['na']
                    },{
                        label: '> -150',
                        backgroundColor: "rgb(42, 42, 42)",
                        data: window.stats['alert']
                    },{
                        label: '-150',
                        backgroundColor: "rgb(231, 76, 60)",
                        data: window.stats['-150']
                    },{
                        label: '-100',
                        backgroundColor: "rgb(230, 126, 34)",
                        data: window.stats['-100']
                    },{
                        label: '-50',
                        backgroundColor: "rgb(241, 196, 15)",
                        data: window.stats['-50']
                    },{
                        label: 'validé',
                        backgroundColor: "rgb(26, 188, 156)",
                        data: window.stats['valide']
                    }]
                };
                if (window.myBar)
                    window.myBar.destroy();
                window.myBar = new Chart(ctx, {
                    type: 'bar',
                    data: barChartData,
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            xAxes: [{
                                stacked: true,
                            }],
                            yAxes: [{
                                stacked: true,
                                ticks: {
                                    min: 0,
                                    stepSize: 20,
                                    max: 120,
                                    beginAtZeo: true,
                                }
                            }]
                        }
                    }
                });
            };
		    window.graphData = function() {
		        $('#city_stat .overlay').show();
		        let cities = {};
                dataTable.rows({search:'applied'}).data().map(row => {
                    if (!(row[4] in cities))
                        cities[row[4]] = [];
                    cities[row[4]].push(row);
                });
                window.stats = {'labels': [], 'na': [], 'alert': [], '-150': [], '-100': [], '-50': [], 'valide': []};
                let promo_score = {'2021': 750, '2022': 700, '2023': 600};
                for (let city in cities) {
                    window.stats['labels'].push(city);
                    let stat = {'na': 0, 'alert': 0, '-150': 0, '-100': 0, '-50': 0, 'valide': 0};
                    cities[city].forEach((student, id) => {
                        score = parseInt(student[6].split(' / ')[0]);
                        required_score = promo_score[student[2]];
                        if (parseInt(student[5]) === 0)
                            stat['na'] += 1;
                        else if (score - required_score >= 0)
                            stat['valide'] += 1;
                        else if (score - required_score >= -50)
                            stat['-50'] += 1;
                        else if (score - required_score >= -100)
                            stat['-100'] += 1;
                        else if (score - required_score >= -150)
                            stat['-150'] += 1;
                        else
                            stat['alert'] += 1;
                    });
                    for (key in stat) {
                        stat[key] = Math.round(stat[key] / cities[city].length * 10000) / 100;
                        window.stats[key].push(stat[key]);
                    }
                }
                window.genGraph();
		        $('#city_stat .overlay').hide();
            };
		    $('#stat_students .overlay').show();

            window.cursus = [];
            window.promotions = [];
            async function genTable(students_idx) {
                let limit = 200;
                let nb_students = 0;
                let promo = {'2021': 750, '2022': 700, '2023': 600};
                $.getJSON('/api/tepitech', {'format': 'json', 'limit': limit, 'offset': students_idx, 'best_tepitech': true}).done((data) => {
                    data['results'].forEach((student) => {
                        let promo_score = promo[student['student']['promo']['promotion_year']];
                        if (!promo_score || student['student']['promo']['cursus'].indexOf('bachelor/') === -1)
                            promo_score = 0;
                        let no_tepitech = (student['score'] === -1);
                        student['score'] = (student['score'] === -1) ? 0 : student['score'];
		                let miss_pts = student['score'] - promo_score;
                        miss_pts = Math.abs((miss_pts >= 0) ? 0 : miss_pts);
                        let badge = "<span class='badge bg-green'>0 <i class='fa fa-check'></i></span>";
                        if (miss_pts !== 0)
                            badge = "<span class='badge bg-red'>" + ((no_tepitech) ? 2 : 1) + " <i class='fa fa-warning'></i></span>";
                        dataTable.row.add([badge, student['student']['login'], student['student']['promo']['promotion_year'], student['student']['promo']['cursus'],
                            student['student']['promo']['city']['code'], student['nb_tepitech'], student['score'] + " / " + promo_score, miss_pts]);
                        if (window.cursus.indexOf(student['student']['promo']['cursus']) === -1) {
                            window.cursus.push(student['student']['promo']['cursus']);
                            $('#cursus_filter').append(new Option(student['student']['promo']['cursus'], student['student']['promo']['cursus'], false, false)).trigger('change');
                        }
                        if (window.promotions.indexOf(student['student']['promo']['promotion_year']) === -1) {
                            window.promotions.push(student['student']['promo']['promotion_year']);
                            $('#promo_filter').append(new Option(student['student']['promo']['promotion_year'], student['student']['promo']['promotion_year'], false, false)).trigger('change');
                        }
                    });
                    dataTable.draw();
                    $('#stat_students .overlay').hide();
                    if (data['next'])
                        genTable(students_idx + limit);
                    else
                        graphData();
                });
            }
            window.setTimeout(() => genTable(0), 10);
		}
    </script>
{% endblock %}
